html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Prevent scrolling */
}

#gameContainer {
    width: 60%;
    height: 40%;
    max-width: 800px;
    max-height: 500px;
    border: 1px solid black;
    position: relative;
}



#paddle {
    width: 15%;
    max-width: 120px;
    height: 10px;
    background-color: blue;
    position: absolute;
    bottom: 3.5%;
    left: 50%;
    transform: translateX(-50%);
}

#ball {
    width: 1.2%;
    max-width: 10px;
    height: 2.7%;
    max-height: 10px;
    background-color: red;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.brick {
    width: 60px;
    height: 20px;
    background-color: green;
    position: absolute;
    border: 0.5px solid black;
}

.special-brick{
    background-color: chocolate;
}